* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

/*header style code*/

header{
display: flex;
width: 100%; 
justify-content: space-between;
padding: 0px 20px 0px 10px;
position: fixe;   
box-shadow: 5px 5px 15px gray;
}
.logo{
    display: flex;
}
.logo img{
    width: 100px;
}
.search_input{
    border: 1px solid grey;
    padding: 10px 18px 10px 18px;
    margin-top: 15px;
    border-radius: 50px;
    text-align: center;
    background-color: rgb(241, 241, 241);
}
.nav{
    display: flex;
    gap: 80px;
    padding-top: 15px;
}
.nav img{
    width:35px;
    height:35px;
}
.nav img:hover{
    background-color: rgb(111, 111, 245);
    border-radius: 50px;
}
.control_setting{
    display: flex;
    gap: 10px;
    padding-top: 15px;
}
.control_setting img{
    width:35px;
    height:35px;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
}
.control_setting img :hover{
    background-color: rgb(111, 111, 245);
    border-radius: 50px;
    padding: 10px;
}
.exit{
    width: 5px;
    height: 5px;
}


.main{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
/*left bar style code*/


.left_bar_row{
    margin: 10px 0px 15px 10px;
}

.line{
    display: flex;
    padding-bottom: 10px;
}
.icon img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.side_menu p{
    padding: 10px 0px 0px 15px ;
}
/*
.profile_pic{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

*/
/*right side syling*/

.right_bar_row{
    margin: 40px 0px 23px 10px;
}


/*middle side syling*/

.middle{
    text-align: center;
    width: 700px;
}

.posting{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 650px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
}
.posting img{
    width: 35px;
    height: 35px;
}
.posting input{
    padding: 10px 50px 10 px 50px;
    width: 400px;
    height: 50px;
    text-align: center;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
    border: none;
}
.my_dp{
     width: 35px;
    height: 35px;
    border-radius: 20px;
}

/*Post Design*/
.post_card{
    width: 650px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px gray;
    margin-top: 50px;
}
.title{
    display: flex;
    gap: 20px;
    padding: 25px;

}
.title img{
    width: 35px;
    height: 35px;
    border-radius: 20px;
}
.title p{
    font-size: 20px;
    font-weight: bold;
}
.caption p{
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
}
.post_pic img{
    width: 100%;
    height: 500px;
}
.reactions img{
    width: 35px;
}

/*sign in*/

.signIn{
    display: flex;
    flex-wrap: wrap;
}
.form{
    margin: 0 auto;
    padding-top: 100px;
}
.form p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}
.form input{
    border: 1px solid rgb(24, 119, 242);
    border-radius: 13px;
    width: 500px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 10px;
}
.login{
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    border-radius: 13px;
    width: 500px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 10px;
}
.forgot{
    color: black;
    border: none;
    border-radius: 13px;
    width: 500px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 50px;
}
.newAccount{
    color: rgb(24, 119, 242);
    background-color: white;
    border: 1px solid rgb(24, 119, 242);
    border-radius: 13px;
    width: 500px;
    padding: 15px 30px 15px 30px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}


/*signup*/
.formBox{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.names input{
    border: 1px solid rgb(24, 119, 242);
    border-radius: 13px;
    width: 250px;
    padding: 15px 15px 15px 15px;
    margin-bottom: 10px;
}